<%= render :partial => 'shared/title' %>

<table>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.name %></td>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
