<html>
    <head>
        <%= javascript_include_tag "mootools-core" %>
        <%= javascript_include_tag "mootools-more" %>
        <%= javascript_include_tag "menu" %>
        <%= javascript_include_tag "font_resize" %>
        <%= stylesheet_link_tag "reset", :media => :all %>
        <%= stylesheet_link_tag "base", :media => :all %>

        <title><%= crumbs_text %></title>
    </head>
    <body>
        <ul id="topo">
          <%= crumbs_tag %>
        </ul>

        <span class="user-icon"><%= gravatar_tag current_user, :size => 20 %></span>

        <div id="slice-door"></div>
        <div id="page-slice">
            <ul>
                <li class="slice-search">
                <%= text_field_tag "", nil, :class => :search -%>
                <%= image_submit_tag "gear_16.png", :class => "do-search", :alt => ">" -%>
                </li>

                <li>
                  <%= link_to image_tag("user_16.png") + " Novo cadastro", new_user_path %>
                </li>

                <li>
                  <%= link_to image_tag("pdf.gif") + " Exportar para PDF",
                  request.request_uri == root_path ? params.merge({:action => "#{params[:action]}.pdf" }) :
                    request.url.empty? ?
                    params.merge({:format => :pdf}) : request.url.gsub(%r{(.)/?(\?.*)?$},'\1.pdf\2')
                  %>
                </li>
                <li>
                <%= link_to image_tag("key_16.png") + " meu cadastro", myprofile_path %>
                </li>
                <li>
                <%= link_to image_tag("heart_16.png") + " favorito", logout_path %>
                </li>
                <li>
                <%= link_to image_tag("label_16.png") + " tags", logout_path %>
                </li>
                <li>
                <%= link_to image_tag("stop_16.png") + " sair", logout_path %>
                </li>
            </ul>
            <span class="toggle">esconder </span>
        </div>

        <div class="messages" style="float:left; top: 50px; width: 100%">
            <p class="error"><%= flash[:error] %></p>
            <p class="notice"><%= flash[:notice] %></p>
        </div>

        <div id="content">
            <%= yield %>
        </div>
    </body>
</html>
